:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #3f454d;
  margin: 50px auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  text-align: center;
}

nav .nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

nav .nav-item .nav-list {
  width: 60px;
  margin: 0 10px;
  cursor: pointer;
}

nav .nav-item .nav-list:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

nav .nav-item .nav-list img {
  width: 88%;
}

nav .nav-item .nav-list.colorBtn {
  padding: 10px;
}

nav .nav-item .nav-list.colorBtn:nth-child(4) {
  background-color: var(--color-blue);
}

nav .nav-item .nav-list.colorBtn:nth-child(5) {
  background-color: var(--color-yellow);
}

nav .nav-item .nav-list.colorBtn:nth-child(6) {
  background-color: var(--color-pink);
}

/* main clothes list */

main.main-container {
  width: 480px;
  height: 500px;
  overflow-y: scroll;
}

main.main-container .main-list>li {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-white);
  height: 50px;
  margin: 12px 0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

main.main-container img {
  position: absolute;
  left: 0;
  width: 50px;
  margin: 0 20px;
}