@charset "utf-8";
@import url('reset.css');

/* 공통속성 */
/* input, 버튼 */
input,
button {
    all: unset;
    cursor: pointer;
    vertical-align: middle;
}

#contentWith {
    max-width: 1280px;
    margin: 0 auto;
}

/*강조 색상*/
.txt_mint {
    color: var(--color-sub1);
}

/* banner-top */
.banner-top {
    height: 50px;
    line-height: 50px;
    color: var(--color_white);
    background: var(--color_black);
}

.banner-top>p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-top>p>img {
    margin-left: 15px;
    margin-top: -3px;
}

/*header */
header .innerHeader {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

header .innerHeader .innerHeader_sch {
    position: relative;
    width: 560px;
    display: flex;
    justify-content: space-between;
    color: #999999;
    border-bottom: 2px solid var(--color_black);
    padding-right: 10px;
}

header .innerHeader .innerHeader_sch>legend {
    display: none;
}

header .innerHeader .scroll_text {
    position: absolute;
    height: 50px;
    overflow: hidden;
    left: 2px;
    top: -12px;
}

header .innerHeader .scroll_text .scrollRoll {
    position: relative;
    width: 100%;
    height: auto;
}

header .innerHeader .scroll_text .scrollRoll>li {
    width: 100%;
    height: 50px;
    line-height: 50px;
}

/* header_dire */
header .innerHeader .header_dire .dire_btn {
    display: flex;
}

header .innerHeader .header_dire .dire_btn .dire_btn_list {
    text-align: center;
    margin: 0 8px;
}

header .innerHeader .header_dire .dire_btn .dire_btn_list>a>span {
    display: block;
    text-align: center;
    color: var(--color_darkGray);
    margin-top: 5px;
    position: relative;
}

header .innerHeader .header_dire .dire_btn .dire_btn_list .cart_count {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 16px;
    font-weight: 700;
    background: var(--color-accent);
    color: var(--color_white);
    position: absolute;
    top: 67px;
}

/* nav */
.nav_wrap {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px
}

.nav_wrap .nav_inner {
    font-weight: 800;
    width: calc(100% / 3);
}

.nav_wrap .nav_inner .category>span {
    display: inline-block;
    vertical-align: middle;
}

.nav_wrap .gnb .gnb_list {
    display: flex;
    justify-content: space-between;
}

.nav_wrap .gnb .gnb_list>li {
    margin-right: 30px;
    position: relative;
}

.nav_wrap .gnb .gnb_list>li:last-child {
    margin-right: 0;
}

.nav_wrap .gnb .gnb_list>li:first-child ::after {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 5px;
    background: var(--color-accent);
    position: absolute;
    top: 24px;
}

.nav_wrap .gnb .gnb_list>li>a {
    display: inline-block;
    line-height: 80px;
    height: 80px;
}

.nav_wrap .nav_inner.about {
    text-align: end;
}

/* section.category */
section.category .sub_category .sub_category_list {
    display: flex;
    align-items: center;
    height: 60px;
    border-top: 1px solid var(--color_gray4);
    border-bottom: 1px solid var(--color_gray5);
}

section.category .sub_category .sub_category_list>li {
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

section.category .sub_category .sub_category_list>li::before {
    content: "";
    display: inline-block;
    opacity: 0.3;
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background: url('../images/arr_r16_gray.png') no-repeat 50% 50%;
}

section.category .sub_category .sub_category_list>li::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    background: url('../images/arr_location_gray.png') no-repeat 50% 50%;
}

section.category .sub_category .sub_category_list>li:first-child {
    margin: 0;
    display: flex;
    align-items: center;
}

section.category .sub_category .sub_category_list>li:first-child::before {
    display: none;
}

section.category .sub_category .sub_category_list>li:first-child::after {
    display: none;
}

section.category .sub_category .sub_category_list>li>.sub_category_inner {
    position: absolute;
    background: var(--color_white);
    border: 1px solid var(--color_gray5);
    max-height: 420px;
    width: 170px;
    top: 25px;
    left: 20px;
    padding: 0 10px;
    display: none;
    z-index: 10;
}

section.category .sub_category .sub_category_list>li>.sub_category_inner>li {
    padding: 10px 15px;
    color: var(--color_darkGray);
}

section.category .sub_category .sub_category_list>li>.sub_category_inner>li:hover {
    font-weight: 700;
    color: var(--color-accent);
}

/* * main 시작 * */
/* section. slide_content */
section.pdt_content {
    display: flex;
    padding: 60px 0 120px;
    border-bottom: 1px solid var(--color_gray3);
}

/* swiper css */
/* main slide */
.swiper_container {
    width: 40%;
}

.pdtslide.mySwiper2 {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.pdtslide.mySwiper2 .pdtslide_list .pdtslide_inner>img {
    width: 500px;
}

/* slide Thumb */
.pdtslideThumb {
    margin: 25px 0;
    cursor: pointer;
}

.pdtslideThumb .thumbList .thumbList_inner>img {
    width: 82px;
    height: 109px;
    margin-left: 30px;
}

/* 슬라이드 버튼 */
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper_control {
    position: absolute;
    top: 50%;
    width: 100%;
    display: none;
}

.pdtslideThumb:hover .swiper_control {
    display: block;

}

.swiper-button-prev {
    transform: rotate(180deg);
}

/* pdt_benefit */

section.pdt_content .pdt_benefit {
    padding: 0 35px;
}


section.pdt_content .pdt_benefit .bene_inner {
    margin-top: 15px;
}

section.pdt_content .pdt_benefit .bene_inner:last-child {
    border-top: 1px solid var(--color_gray3);
    padding-top: 15px;

}

section.pdt_content .pdt_benefit .bene_inner>p {
    font-weight: 800;
    padding-bottom: 5px;
}

section.pdt_content .pdt_benefit .bene_inner>span {
    color: var(--color_darkGray);
    margin-bottom: 5px;
    display: block;
    position: relative;
}

section.pdt_content .pdt_benefit .bene_inner>span::after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    top: -2px;
    position: absolute;
    background: url('../images/arr_r16_gray.png') no-repeat;
}

/* *상품가격시작* */
/* pst_content_wrap */

section.pdt_content .pdt_content_wrap {
    width: 55%;
    margin-left: 100px;
    margin-top: 32px;
}

section.pdt_content .pdt_content_wrap .pdt_info .title_wrap .pdtToptxt {
    margin-bottom: 5px;
}

section.pdt_content .pdt_content_wrap .pdt_info .title_wrap .tit>span {
    display: inline-block;
    margin-right: 20px;
    font-weight: 800;
}

section.pdt_content .pdt_content_wrap .pdt_info .pdt_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px;
}

section.pdt_content .pdt_content_wrap .pdt_info .pdt_price>h3 {
    font-weight: 800;
}

section.pdt_content .pdt_content_wrap .pdt_info .pdt_price .pdt_price_rv>a {
    display: flex;
    align-items: center;
}

section.pdt_content .pdt_content_wrap .pdt_info .pdt_price .pdt_price_rv .price_rv_inner {
    margin: 0 10px;
    font-weight: 800;
}

section.pdt_content .pdt_content_wrap .pdt_info .pdt_price .pdt_price_rv>a>span:last-child {
    color: var(--color_darkGray);
    font-weight: 800;
    text-decoration: underline;
}

section.pdt_content .pdt_content_wrap .pdt_info .pdt_review {
    display: flex;
    padding-bottom: 30px;
    color: var(--color_darkGray);
}

section.pdt_content .pdt_content_wrap .pdt_info .pdt_review .moreBtn {
    font-weight: 800;
    margin-left: 20px;
    text-decoration: underline;
}

/* 주문혜택 */
section.pdt_content .pdt_content_wrap .pdtOrderTxt {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
    border-top: 1px solid var(--color_gray3);
}

section.pdt_content .pdt_content_wrap .pdtOrderTxt>dl {
    display: flex;
    align-items: center;
}

section.pdt_content .pdt_content_wrap .pdtOrderTxt>dl>dt.pdtOrderTxt_1 {
    color: var(--color_darkGray);
    width: 100px;
}


section.pdt_content .pdt_content_wrap .pdtCount {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color_gray3);
}

section.pdt_content .pdt_content_wrap .pdtCount .pdt_inner {
    display: inline-flex;
    width: 180px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color_gray3)
}

section.pdt_content .pdt_content_wrap .pdtCount .pdt_inner>button {
    padding: 12px 15px;
    flex: none;
}

section.pdt_content .pdt_content_wrap .pdtCount .pdt_inner .pdtcalc {
    text-align: center;
    font-weight: 800;
    flex: 1;
    width: 100%;
}

section.pdt_content .pdt_content_wrap .pdtCount>p {
    font-weight: 800;
}

/* 총 가격 */
section.pdt_content .pdt_content_wrap .pdtTotal {
    display: flex;
    justify-content: end;
    padding-top: 20px;
    color: var(--color-accent);
}

section.pdt_content .pdt_content_wrap .pdtTotal>span.fs14 {
    display: inline-block;
    margin-top: 5px;
    color: var(--color_black);
}

section.pdt_content .pdt_content_wrap .pdtTotal .pdtTot_Sum {
    font-weight: 800;
    margin-left: 10px;
}

/* 장바구니, 구매하기 버튼 */
section.pdt_content .pdt_content_wrap .btnWrap {
    background: var(--color_black);
    color: var(--color_white);
    margin-top: 30px;
    display: flex;
    align-items: center;
}

section.pdt_content .pdt_content_wrap .btnWrap .btn_ico {
    width: 60px;
    height: 60px;
    text-align: center;
    background: #333;
}

section.pdt_content .pdt_content_wrap .btnWrap .cartBtn,
section.pdt_content .pdt_content_wrap .btnWrap .buyBtn {
    flex: 1;
    text-align: center;
    font-weight: 800;
    height: 60px;
}

section.pdt_content .pdt_content_wrap .btnWrap .buyBtn {
    background: var(--color-accent);
}

/* section.pdt_tag */
section.pdt_tag {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.pdt_tag .pdt_tag_inner>ul {
    display: flex;
    color: var(--color-accent2);
    margin-top: 20px;
    gap: 10px;
}

section.pdt_tag .pdt_tag_inner>ul>li {
    height: 26px;
    line-height: 26px;
    border: 1px solid var(--color-accent2);
    border-radius: 20px;
    padding: 0 10px;
    vertical-align: middle;
}

section.pdt_tag .vegan_mark {
    background: var(--color_gray4);
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

section.pdt_tag .vegan_mark>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.pdt_tag .vegan_mark>span {
    font-size: 10px;
    font-weight: 800;
    position: absolute;
    top: 66px;
    left: 12px;
}

/* 상세정보 위 탭메뉴 */
section.pdt_tabmenu .tabmenu_wrap {
    border-bottom: 1px solid var(--color_gray3);
}

section.pdt_tabmenu .tabmenu_wrap .tabmenu_inner {
    font-weight: 800;
    color: var(--color_darkGray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

section.pdt_tabmenu .tabmenu_wrap .tabmenu_inner>li {
    width: calc(100% / 4);
    text-align: center;
    height: 60px;
    line-height: 60px;
    position: relative;
}

section.pdt_tabmenu .tabmenu_wrap .tabmenu_inner>li>a {
    display: inline-block;
}

/* prd_sec (tabcontent) */
/* sec01 */
.prd_sec {
    padding: 60px 0;
}

.prd_sec .sec01 {
    position: relative;
}

.prd_sec .sec01 .sec_text {
    position: absolute;
    top: 40%;
    margin: 0 30px;
    color: var(--color_darkBlack);
}

.prd_sec .sec_text .sub {
    font-weight: 500;
    line-height: 45px;
}

.prd_sec .sec01 .sec_text .titimg>img {
    width: 100%;
    height: 100%;
    margin: 20px 0 30px;
}

.prd_sec .sec01 .sec_text .subB {
    font-weight: 700;
}

/* sec02 */
.prd_sec .sec02 {
    padding: 100px 0;
    background: var(--color-sub2);
    position: relative;
    color: var(--color_darkBlack);
}

.prd_sec .sec_text .subtitle::before {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background: var(--color_darkBlack);
}

.prd_sec .sec_text .subtitle:first-child ::before {
    display: none;
}

.prd_sec .sec02 .sec_text .subtitle {
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.prd_sec .sec02 .sec_text .sub {
    margin: 30px 0;
    text-align: center;
}

.prd_sec .sec02 .sec_text .sub>span {
    display: inline-block;
    font-weight: 700;
}

.prd_sec .sec02 .sec_review {
    margin-top: 100px;
    text-align: center;
}

.prd_sec .sec02 .sec_review .title2 {
    font-weight: 700;
    line-height: 55px;
}

.prd_sec .sec02 .sec_review .review_list {
    margin: 20px 80px 30px;
}

.prd_sec .sec02 .sec_review .review_list .review_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    position: relative;
}

.prd_sec .sec02 .sec_review .review_list .review_inner::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    bottom: 0;
    border-bottom: 1px dashed var(--color_darkBlack);
}

.prd_sec .sec02 .sec_review .review_list .review_inner .rv_num {
    font-weight: 800;
}

.prd_sec .sec02 .sec_review p {
    margin: 35px 0;
}

.prd_sec .sec02 .sec_review .review_list .review_inner:last-child::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    top: 0;
    border-top: 1px dashed var(--color_darkBlack);
}

/* sec02 swiper slide*/
.swiper.review_slide01 {
    width: 100%;
    height: 100%;
    color: var(--color_darkBlack);
    text-align: center;
}

.review_slide_wrapper {
    padding: 30px 0;
}

.swiper-slide.review_slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide.review_slide img {
    display: block;
    width: 388px;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.swiper-slide.review_slide span.txt {
    display: block;
    width: 388px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: var(--color_white);
    position: absolute;
    bottom: 0;
}

.swiper-slide.review_slide.rvSlide01 span.txt {
    background: #c4c4c4;
}

.swiper-slide.review_slide.rvSlide02 span.txt {
    background: #3c3c3c;
}

.swiper-slide.review_slide.rvSlide03 span.txt {
    background: #5Ac6c6;
}

/* sec03 */
.prd_sec .sec03 {
    padding-top: 100px;
    background: var(--color-sub2);
    position: relative;
    color: var(--color_darkBlack);
}

.prd_sec .sec03 .sec_text .subtitle {
    font-weight: 700;
    text-align: center;
}


/* sec03 swiper slide*/
.swiper.review_slide02 {
    width: 100%;
    height: 100%;
    color: var(--color_darkBlack);
    text-align: center;
}

.swiper.review_slide02 .review_slide_wrapper {
    margin-bottom: 160px;
}

.swiper-slide.review_slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide.review_slide img {
    display: block;
    width: 388px;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.swiper-slide.review_slide span.txt {
    display: block;
    width: 388px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    color: var(--color_white);
    position: absolute;
    bottom: 0;
    background: #5Ac6c6;
}

/* sec 04 */
.prd_sec .sec04 {
    padding-top: 100px;
    background: var(--color-sub2);
    position: relative;
    color: var(--color_darkBlack);
}

.prd_sec .sec04 .sec_text .subtitle {
    font-weight: 700;
    text-align: center;
}

.prd_sec .sec04 .sec04_texture>img {
    width: 100%;
    margin-top: 30px;
}

.prd_sec .sec04>p {
    padding: 30px 40px;
}

/* sec 05 */
.prd_sec .sec05 {
    background: var(--color-sub2);
    color: var(--color_darkBlack);
}

.prd_sec .sec05 .prdsubtit {
    font-weight: 700;
    line-height: 65px;
    padding: 90px 40px 16px;
    position: relative;
}

.prd_sec .sec05 .sec05_drc {
    position: relative;
}

.prd_sec .sec05 .sec05_drc .sec05_prdImg>img {
    width: 100%;
}

.prd_sec .sec05 .sec05_drc .sec05_btns .hide {
    display: none;
}

.prd_sec .sec05 .sec05_drc .sec05_btns a {
    position: absolute;
    width: 100px;
    height: 20px;
    display: block;
}

.prd_sec .sec05 .sec05_drc .sec05_btns .sec05_bt1>a {
    top: 11%;
    right: 5%;
}

.prd_sec .sec05 .sec05_drc .sec05_btns .sec05_bt2>a {
    top: 28%;
    right: 5%;
}

.prd_sec .sec05 .sec05_drc .sec05_btns .sec05_bt3>a {
    top: 34%;
    left: 5%;
}

.prd_sec .sec05 .sec05_drc .sec05_btns .sec05_bt4>a {
    top: 77%;
    left: 5%;
}

.prd_sec .sec05 .sec05_drc .sec05_btns .sec05_bt5>a {
    top: 87%;
    right: 36%;
}

/* sec 06 */
.prd_sec .sec06 {
    background: var(--color-sub2);
    color: var(--color_darkBlack);
    padding: 100px 40px 0px;
}

.prd_sec .sec06 .sec06_img>img {
    width: 100%;
}

.prd_sec .sec06 .prdsubtit {
    font-weight: 700;
    margin-bottom: 20px;
}

.prd_sec .sec06 .sec06_img {
    margin: 60px 0;
}

.prd_sec .sec06 .sub_description:nth-child(6) {
    padding-bottom: 50px;
}

/* * 상세페이지 End * */

/* review */

section.review_wrap {
    max-width: 1280px;
    margin: 60px auto;
    border: 1px solid var(--color_gray3);
}

section.review_wrap .review_gpt {
    padding: 34px 40px;
    display: flex;
}

section.review_wrap .review_gpt .review_summary {
    border-right: 1px solid var(--color_gray3);
    width: 40%;
    padding-right: 40px;
    height: 70px;
}

section.review_wrap .review_gpt .review_summary .review_star {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    margin-bottom: 10px;
}

section.review_wrap .review_gpt .review_summary .review_star>img {
    width: 140px;
    height: 32px;
}

section.review_wrap .review_gpt .gptComment {
    margin-left: 40px;
    font-weight: 700;
    line-height: 25px;
    word-break: keep-all;
    color: var(--color_darkBlack);
}

section.review_wrap .review_gpt .gptComment .gptTxt_small {
    color: #999999;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

section.review_wrap .review_gpt .gptComment .gptTxt_small>img {
    display: inline-block;
    margin-right: 3px;
    margin-top: -3px;
}